.on {
  transition: all 0.4s;
  transform: rotate(90deg);
  transform-origin: center;
}

.off {
  transition: all 0.4s;
  transform-origin: center;
}

.listComp {
  padding: 0 0 0 30px;
  overflow: hidden;
  transition: all 0.5s linear;
}

.refa {
  border-top: 0;
  max-height: 0;
  transition: max-height 1.5s cubic-bezier(0, 1, 0, 1);
}

.refal {
  border-top: 1px solid;
  border-bottom: 1px solid;
  max-height: 1200px;
  transition: max-height 1.5s ease-in-out;
}

.listComp button {
  border: 0;
  background: none;
  cursor: pointer;
}

.listComp a {
  color: blue;
  text-decoration: underline;
}

.listComp div {
  width: 80%;
  padding: 20px 0;
}
