.skill_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  aspect-ratio: 1;
  background-color: #f8f8f8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  transition: box-shadow 0.5s;
  cursor: pointer;
  flex: 1 1 24%;
  flex-grow: 0;
  margin: 0;
  flex-shrink: 1;
}

.skill_content:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.skill_content img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.skill_content-name {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  font-weight: 1000;
}

/*-------------*/

.skill_content-absolute {
  position: absolute;
  right: 0;
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 15px;
  cursor: pointer;
  margin: 0;
  background-color: #f8f8f8;
  z-index: 99;
  animation: getBig 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

@keyframes getBig {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 200%;
    height: 200%;
  }
}

.skill_moveSvg {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  animation: moveToCorner;
  animation-duration: 1.5s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes moveToCorner {
  0% {
    position: absolute;
    top: 50%;
    right: 50%;
  }
  100% {
    position: absolute;
    /* top: 5%;
    right: 5%; */
    top: 5%;
    right: 5%;
    transform: translate(0%, 0%);
  }
}
