.back {
  background-color: #f8f8f8;
}

.hidden {
  color: #000;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 10px;
  font-family: 'IBMPlexSansKR-Regular';
  white-space: break-spaces;
}

.hidden * {
  font-family: 'IBMPlexSansKR-Regular';
}

.hidden-title {
  margin: 40px 0;
}

.hidden-title p {
  line-height: 5.3rem;
  font-size: 4rem;
}

.hidden-img {
  display: flex;
  overflow-x: hidden;
  height: 600px;
  background-color: #292929;
  border-radius: 25px;
  overflow: hidden;
}

.hidden-img img {
  height: inherit;
  width: inherit;
}

.hidden-intro {
  margin: 40px 0;
}

.hidden-intro p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.hidden-about {
  position: relative;
  margin: 80px 0;
}

.hidden-skill-one {
  position: relative;
  -webkit-animation: spin 2s infinite linear both;
  animation: spin 3s infinite linear both;
}

.hidden-skill-two {
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 3.5s infinite linear;
}

.hidden-skill-num {
  transform-style: preserve-3d;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid #000;
  background: none;
}

.hidden-skill-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  border-left: 1px solid #000;
  transform: translate(-50%, -50%) rotateZ(45deg);
  height: 100%;
}

@-webkit-keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(-180deg) rotateY(180deg);
  }
  90% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(-180deg) rotateY(180deg);
  }
  90% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.hidden-skill-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
  animation: dot 1s linear infinite alternate-reverse;
}

@-webkit-keyframes dot {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 3500%);
  }
}

@keyframes dot {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 3500%);
  }
}

/**----------------------*/

.hidden-skill-square {
  transform-style: preserve-3d;
  width: 250px;
  height: 250px;
  border: 2px solid #000;
}

.hidden-skill-square1 {
  position: relative;
  -webkit-animation: square 5s infinite linear alternate;
  animation: square 5s infinite linear alternate;
}

.hidden-skill-square2 {
  position: absolute;
  top: 20%;
  left: 25%;
  -webkit-animation: square 5s 1s infinite linear alternate;
  animation: square 5s 1s infinite linear alternate;
}

.hidden-skill-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

@-webkit-keyframes square {
  0% {
    transform: translate(0%, 0%);
  }
  20% {
    transform: translate(25%, -15%);
  }
  40% {
    transform: translate(-25%, 15%);
  }
  60% {
    transform: translate(0%, 0%);
  }
  80% {
    transform: translate(-25%, -15%);
  }
  100% {
    transform: translate(25%, 15%);
  }
}

@keyframes square {
  0% {
    transform: translate(0%, 0%);
  }
  20% {
    transform: translate(25%, -15%);
  }
  40% {
    transform: translate(-25%, 15%);
  }
  60% {
    transform: translate(0%, 0%);
  }
  80% {
    transform: translate(-25%, -15%);
  }
  100% {
    transform: translate(25%, 15%);
  }
}

.linel {
  position: absolute;
  display: block;
  top: -5px;
  left: -5px;
  width: 0px;
  height: 30px;
  border: 1px solid #fff;
  transform: rotate(45deg);
  -webkit-animation: lineo 5s infinite linear alternate;
  animation: lineo 5s infinite linear alternate;
}

@-webkit-keyframes lineo {
  0% {
    height: 0px;
  }
  20% {
    height: 50px;
  }
  40% {
    transform: translate(-25%, 15%);
  }
  60% {
    transform: translate(0%, 0%);
  }
  80% {
    transform: translate(-25%, -15%);
  }
  100% {
    height: 50px;
  }
}

@keyframes lineo {
  0% {
    height: 0px;
  }
  20% {
    height: 50px;
  }
  40% {
    transform: translate(-25%, 15%);
  }
  60% {
    transform: translate(0%, 0%);
  }
  80% {
    transform: translate(-25%, -15%);
  }
  100% {
    height: 50px;
  }
}

/**---------------------------------------------------*/

.hidden-project {
  margin: 80px 0;
}

.hidden-rem {
  font-size: 2.5rem;
  font-weight: 600;
}

.hidden-project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/**---------------------------------------------------*/

.six {
  /*   display: flex;
  flex-direction: column;
  align-items: center; */
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  -webkit-animation: tocircle 1s linear infinite alternate;
  animation: tocircle 1s linear infinite alternate;
}

.six * {
  display: block;
}

.six-top {
  height: 100px;
  width: 200px;
  border: 2px solid #000;
  background: none;
  border-bottom: none;
  transform: perspective(10px) rotateX(1deg);
}

.six-middle {
  position: relative;
  height: 100px;
  width: 220px;
  border: 2px solid #000;
  border-top: none;
  border-bottom: none;
}

.six-bottom {
  height: 100px;
  width: 200px;
  border: 2px solid #000;
  border-top: none;
  background: none;
  transform: perspective(10px) rotateX(-1deg);
}

@-webkit-keyframes tocircle {
  0% {
    border-radius: 0%;
  }
  100% {
    border-radius: 50%;
  }
}

@keyframes tocircle {
  0% {
    border-radius: 0%;
  }
  100% {
    border-radius: 50%;
  }
}

.hidden-skill-bb {
  position: relative;
  width: 200px;
  height: 200px;
}

.hidden-skill-aa {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 5px solid;
  width: 200px;
  height: 200px;
  -webkit-animation: loop 3s linear infinite;
  animation: loop 3s linear infinite;
  transform: scale(0);
}

@-webkit-keyframes loop {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes loop {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
