.back {
  background-color: #f8f8f8;
}

.hidden {
  color: #000;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 10px;
  font-family: 'IBMPlexSansKR-Regular';
  white-space: break-spaces;
}

.hidden-title h1 {
  line-height: 5.3rem;
  font-size: 4rem;
  font-weight: normal;
}

.hidden-intro p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.hidden-intro,
.hidden-title {
  margin: 40px 0;
}
