.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-family: 'IBMPlexSansKR-Regular';
}

.header ul{
  display: flex;
  width:1200px;
  justify-content: flex-end;
  margin:0;
  list-style-type: none;
  padding:0;
}



/* .hidden-header button {
  position: relative;
  background: none;
  font-weight: bold;
  border: 0;
  font-size: 0.8rem;
  margin: 0 10px;
  cursor: pointer;
  font-family: 'IBMPlexSansKR-Regular';
} */

.hidden-header-link {
  display: none;
  position: absolute;
  top: 100%;
  left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 0;
}

.hidden-header-link * {
  margin-bottom: 10px;
  text-align: start;
  color: #bbbbbb;
}

.hidden-header-project:hover .hidden-header-link,
.hidden-header-link:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden-header-link *:hover {
  color: #000;
  text-decoration: underline;
}
