.hidden-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 5px;
}

.hidden-contact-list p:first-child {
  margin: 0 20px 0 0;
  color: #949494;
  font-style: italic;
}

.hidden-contact-list button {
  background: none;
  border: 0;
  color: #fff;
  font-size: 1rem;
  padding: 0;
}

.hidden-contact-list a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
