.hidden-contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 40px 20px;
  height: 150px;
  margin: 100px 0 0;
  background-color: #000;
  color: #fff;
}

.hidden-contact-csv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
  background-color: #c0c0c0;
  padding: 10px 20px;
  color: #000;
}

.hidden-contact-csv a {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
}

.hidden-contact-csv button {
  border: 0;
  background: none;
  font-weight: 1000;
  cursor: pointer;
}

.hidden-rem {
  line-height: 1;
  font-size: 3rem;
  font-weight: 600;
}
