.notice {
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #dfdfdf;
  z-index: 99;
  border: 0.5px solid var(--color-light-gray);
  border-radius: 15px;
  color: var(--color-black);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.notice button {
  background: none;
  border: 0;
  cursor: pointer;
}

.notice a {
  text-decoration: underline;
  color: rgb(17, 0, 255);
}

.notice_header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.notice_header h4 {
  margin: 0;
}
